In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("data.csv", encoding="latin1")
print("Shape:", df.shape)

Shape: (1599999, 6)

In [3]:
# Show first rows
df.head(7)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
5,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
6,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...

In [4]:
# Rename columns
df.columns = ["target", "id", "date", "query", "user", "text"]

In [5]:
# Info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1599999 non-null  int64
 1   id      1599999 non-null  int64
 2   date    1599999 non-null  object
 3   query   1599999 non-null  object
 4   user    1599999 non-null  object
 5   text    1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB
None

In [6]:
# Check duplicates
print("Duplicates:", df.duplicated().sum())

Duplicates: 0

In [7]:
# Targets
print(df["target"].unique())

[0 4]

In [8]:
# Convert targets: 4 -> 1, 0 -> 0
df["target"] = df["target"].apply(lambda x: 1 if x == 4 else 0)
print(df["target"].value_counts())

target
1    800000
0    799999
Name: count, dtype: int64

In [9]:
# Parse date
df["date"] = pd.to_datetime(df["date"], errors="coerce")
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
df["day"] = df["date"].dt.day
df["hour"] = df["date"].dt.hour
df.drop(columns=["date"], inplace=True)

C:\Users\Ali Hashhash\AppData\Local\Temp\ipykernel_23904\1680989843.py:2: FutureWarning: Parsed string "Mon Apr 06 22:19:49 PDT 2009" included an un-recognized timezone "PDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [10]:
# Drop query
df.drop(columns=["query","id"], inplace=True)

In [11]:
df.head()

,target,user,text,year,month,day,hour
0,0,scotthamilton,is upset that he can't update his Facebook by ...,2009,4,6,22
1,0,mattycus,@Kenichan I dived many times for the ball. Man...,2009,4,6,22
2,0,ElleCTF,my whole body feels itchy and like its on fire,2009,4,6,22
3,0,Karoli,"@nationwideclass no, it's not behaving at all....",2009,4,6,22
4,0,joy_wolf,@Kwesidei not the whole crew,2009,4,6,22

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1599999 non-null  int64
 1   user    1599999 non-null  object
 2   text    1599999 non-null  object
 3   year    1599999 non-null  int32
 4   month   1599999 non-null  int32
 5   day     1599999 non-null  int32
 6   hour    1599999 non-null  int32
dtypes: int32(4), int64(1), object(2)
memory usage: 61.0+ MB

In [13]:
# Save cleaned data
df.to_csv("clean_data.csv", index=False)